@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    /*PRIMARY*/
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(to left top, #57ddff, #c058f3);
    
    /*LIGHT THEME*/
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    /*DARK THEME
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue: hsl(236, 33%, 92%); (hover)
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);*/

    --box-height: 50px;
}


html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 40vh;
    background-color: var(--very-light-gray);
}

section.down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10%;
}

section.down div.title-image {
    width: 100%;
    margin-bottom: 20px;
}

section.down div.title-image h1#titulo {
    width: 100%;
    font-size: 40px;
    color: var(--very-light-gray);
    letter-spacing: 10px;
}

section.down div.title-image img {
    position: absolute;
    right: 0px;
    top: 0px;
}

section.down div.new-task-container {
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--very-light-grayish-blue);
    box-shadow: 0px 2px 10px 0px var(--very-light-grayish-blue);
}

section.down div.new-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--box-height);
    width: 100%;
}
section.down div.item-task {
    border-bottom: 1px solid #000;
}

section.down div.new-task div.div-checkbox {
    flex-basis: 12%;
    text-align: center;
}

section.down div.new-task div.div-input {
    flex-basis: 78%;
}

div.container-items div.new-task.item-task div.cross {
    display: none;
}

div.container-items div.new-task.item-task:hover div.cross {
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
}


div.container-items div.new-task.item-task div.cross img {
    height: 15px;
    width: 15px;
    cursor: pointer;
}


section.down div.new-task input#new-task-checkbox {
    width: 1.1em;
    height: 1.1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
    appearance: none;
}


section.down div.new-task input.task-checkbox {
    width: 1.1em;
    height: 1.1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
    appearance: none;
}

section.down div.new-task input.task-checkbox:checked {
    background: var(--check-background);
}

div.new-task.item-task.item-task-checked div.div-input p {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}


section.down div.new-task input#text-input {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border: none;
    outline: none;
}



section.down div.notes-todo {
    background-color: white;
    width: 100%;
    height: 350px;
    border-radius: 10px 5px 10px 10px;
    margin-top: 20px;
    margin-bottom: 70px;
    box-shadow: 0px 10px 10px 0px var(--very-light-grayish-blue);
}

section.down div.notes-todo.list-task div.new-task.item-task {
    border-color: var(--light-grayish-blue);
    padding-top: 5px;
    padding-bottom: 5px;
}

div.notes-todo.list-task div.container-items {
    height: calc(350px - var(--box-height));
    overflow-x: hidden;
    overflow-y: auto;
}

div.notes-todo.list-task div.container-items::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px 20px 10px 10px;
}

div.notes-todo.list-task div.container-items::-webkit-scrollbar-track {
    background: transparent;
}

div.notes-todo.list-task div.container-items::-webkit-scrollbar-thumb {
    background: var(--dark-grayish-blue);
    border-radius: 5px 40px 10px 10px;
}

section.down p.form {
    position: absolute;
    bottom: 0%;
    font-size: 13px;
    color: var(--dark-grayish-blue);
}

footer.filters div.options-filters {
    display: flex;
    justify-content: space-around;
    height: var(--box-height);
    align-items: center;
}

footer.filters div.options-filters p {
    font-size: 13px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}